@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi&family=Oswald&family=Playpen+Sans:wght@300&family=Ubuntu&display=swap");

/* Universal selectors */
* {
  margin: 0px;
  padding: 0px;
}

i:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

/* Navbar    */

.heading {
  position: relative;
  left: 3rem;
  top: 0.5rem;
}

.heading i {
  /* margin-right: 12vw; */
  font-size: 27px;
  position: relative;
}

.heading span {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  position: relative;
  top: -4px;
}

.heading span:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 35px 0px;
  align-items: center;
}

.navbar ul {
  position: relative;
  left: 30rem;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0px 10px;
  top: 9px;
  /* color: black; */
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 600; */
  font-size: 1rem;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all;
  transition-duration: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.navbar-icons {
  position: relative;
  left: 30.7rem;
  top: 0.5rem;
}

.navbar-icons i {
  font-size: 1.8rem;
  /* font-weight: 600; */
  /* margin-left: 1.3rem; */
  color: purple;
  /* font-size: 1.2rem; */
}

.navbar-icons i:hover {
  cursor: pointer;
}

.navbar-buttons {
  margin-left: 32rem;
  margin-top: 1rem;
}

.navbar-buttons button {
  padding: 8px;
  background-color: purple;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 12px;
  transition-property: background-color;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.2s;
}

.navbar-buttons button:hover {
  background-color: rgb(151, 17, 151);
  cursor: pointer;
}

/* Panel */

.panel {
  display: flex;
  justify-content: space-around;
  height: 7vh;
  /* margin-top: 5px; */
  box-shadow: -8px 0px 2px black;
}

.panel-items {
  display: flex;
  /* margin-left: 3rem; */
}

.panel-items li {
  list-style: none;
  margin-top: 0.95rem;
  margin-left: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.1rem;
  color: purple;
  /* text-align: center;
  justify-content: center; */
}

.panel-icon {
  margin-top: 1rem;
  /* margin-right: 16rem */
}

.panel-icon i {
  font-size: 1.2rem;
}

.panel-icon-2 {
  margin-top: 1rem;
  position: relative;
}

.panel-icon-2 i {
  font-size: 1.1rem;
}

/* Main */

/* Hero secion  */

.hero-section {
  /* margin-top: 3rem; */
  display: flex;
}

.hero-heading {
  margin-top: 3rem;
  margin-left: 3rem;
  width: 43%;
}

#Banner-heading {
    font-size: 1.8rem;
    text-align: center;
    font-family: system-ui;
    text-shadow: 2px 2px 2px gray;
}

.banner-buttons button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    margin: 30px 45px;
    cursor: pointer;
    border: 2px solid #009688;
    position: relative;
    overflow: hidden;
    background: transparent;
   
}


.banner-buttons span{
    background-color: #46c6e6;


    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}

.banner-buttons button:hover span{
  width: 100%;
}

.banner-buttons button:hover{
  border: none;
  color: white;
  font-size: 1rem;
}



.firstpara {
    font-size: 1.2rem;
    margin-top: 11px;
    font-family: cursive;
    font-weight: 300;
    text-shadow: 3px 6px 5px orange;
}

.hero-image{
    margin-left: 4rem;
    margin-top: 1rem;
}

.h3two {
  margin: 302px 500px;
  font-size: 35px;
  font-weight: 300;
  position: relative;
  display: block;
  top: -45px;
  font-family: Arial, Helvetica, sans-serif;
}

.img1 {
  width: 346px;
  position: relative;
  top: -279px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-top: 9px solid lavender;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.container {
  /* border-radius: 2s5px; */
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-bottom: 9px solid lavender;
  width: 24vw;
  margin: -135px -368px;
  position: relative;
  top: -254px;
  display: inline-table;
  overflow-y: hidden;
  background-color: rgb(214, 254, 214);
}

.flood {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin: 9px 1px;
}

.blood {
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 19px;
}
a {
  text-decoration: none;
}

.bt {
  background-color: rgb(252, 190, 203);
  padding: 6px 17px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 7px;
}

.ancor {
  color: rgb(83, 83, 238);
}

.ancor:hover {
  color: black;
  /* background-color: rgb(221, 246, 196); */
}

.bt:hover {
  /* color: rgb(168, 227, 159); */
  background-color: rgb(221, 246, 196);
  border: 2px solid black;
}
.bt:active {
  background-color: darkcyan;
  border: none;
}

.img2 {
  margin: -20px 468px;
  width: 346px;
  position: relative;
  top: -279px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-top: 9px solid lavender;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.Geography {
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-bottom: 9px solid lavender;
  width: 24vw;
  margin: -147px -836px;
  position: relative;
  top: -242px;
  display: inline-table;
  overflow-y: hidden;
  background-color: rgb(214, 254, 214);
}

.hlood {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin: 9px 1px;
}

.glood {
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 19px;
}

.img3 {
  margin: 0px 969px;
  position: relative;
  top: -497px;
  width: 347px;
  height: 220px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-top: 9px solid lavender;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.Noorani {
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-bottom: 9px solid lavender;
  width: 24vw;
  margin: -147px -1334px;
  position: relative;
  top: -488px;
  display: inline-table;
  overflow-y: hidden;
  background-color: rgb(214, 254, 214);
}

.nlood {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin: 9px 1px;
}

.clood {
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 19px;
}

.img4 {
  width: 347px;
  height: 220px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-top: 9px solid lavender;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: 16px;
}

.excel {
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-bottom: 9px solid lavender;
  width: 24vw;
  margin: 5px -368px;
  position: relative;
  top: 40px;
  display: inline-table;
  overflow-y: hidden;
  background-color: rgb(214, 254, 214);
}

.img5 {
  margin: 0px 466px;
  width: 346px;
  position: relative;
  top: 16px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-top: 9px solid lavender;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.naat {
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-bottom: 9px solid lavender;
  width: 24vw;
  margin: 5px -834px;
  position: relative;
  top: 40px;
  display: inline-table;
  overflow-y: hidden;
  background-color: rgb(214, 254, 214);
}

.img6 {
  margin: 0px 969px;
  width: 346px;
  position: relative;
  top: -343px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-top: 9px solid lavender;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.art {
  margin: 0px 969px;
  position: relative;
  top: -347px;
  border-left: 9px solid lavender;
  border-right: 9px solid lavender;
  border-bottom: 9px solid lavender;
  width: 24vw;
  display: inline-table;
  overflow-y: hidden;
  background-color: rgb(214, 254, 214);
}

.test {
  margin: 0px 593px;
  position: relative;
  top: -112px;
  font-size: 43px;
  text-shadow: 1px 11px 12px orange;
}

.sp1 {
  position: relative;
  /* border: 4px solid lavender; */
  background-color: rgb(242, 242, 255);
  border-radius: 2vw;
  width: 44vw;
  margin: 0px 1vw;
  top: -25px;
  height: 30vh;
  overflow-y: hidden;
  display: inline-table;
}

.sign {
  margin: 0px 12px;
}

.p1 {
  font-family: "Playpen Sans", cursive;
  font-size: 16px;
  padding: 13px;
}

.h {
  font-family: "Oswald", sans-serif;
  margin: 0px 1vw;
}

.sp2 {
  display: inline-table;
  position: relative;
  /* border: 4px solid lavender; */
  background-color: rgb(242, 242, 255);
  border-radius: 2vw;
  width: 44vw;
  top: -257px;
  height: 30vh;
  overflow-y: hidden;
  margin: 0px 51vw;
  position: relative;
}

.cont1 {
  background: radial-gradient(rgb(78, 214, 229), transparent);
  width: 100%;
}

.ig1 {
  width: 80px;
  border-radius: 32px;
  margin: 35px 42px;
}

.fot {
  position: relative;
  margin: -18px 133px;
  top: -60px;
}

.dt1 {
  margin: 3px 145px;
  position: relative;
  top: -30px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.dt2 {
  font-size: 22px;
}

footer {
  height: 15vh;
  overflow-y: hidden;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}
